/* Feuille de styles */
body{
    font-family: 'Times', sans-serif; }
.des{
        text-align: justify;
}
 .imgp{
        text-align: center;
    }
  .img:hover{

    border: 6px solid #ddd;
  }
  .prix{
    font-size: 70px; 
  }
  .stock{
    text-align: right;
  }
  .button{
    text-align: right;
  }
  .a{
    text-align: right;
  }
  .date{
    font-style: italic;
  }
  .nom{
    font-weight: bold ;
  }